/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.bg-rosa-pastel {
    background-color: #FFC8DD;
}

nav .nav-link {
    transition: color 0.2s;
}

nav .nav-link:hover {
    color: #FF66A3;
}


/* Estilos para el encabezado */
#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/bg-img.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#home h1 {
    font-size: 4rem !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #FF66A3;
    margin-bottom: 20px;
    animation: fadeInUp 2s ease;
}

@media (max-width: 767px) {
    #home h1 {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #FF66A3;
        margin-bottom: 20px;
        animation: fadeInUp 2s ease;
    }
}


#home p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: white;
    animation: fadeInUp 2s ease;
}

@media (max-width: 767px) {
    #home p {
        font-size: 1rem;
        line-height: 1.5;
        color: white;
        animation: fadeInUp 2s ease;
    }
}

/* Estilos para la sección de productos */
#productos {
    padding: 50px 0;
    background-color: #fff;
}

#productos h2 {
    text-align: center;
    margin-bottom: 30px;
}

#productos p {
    text-align: center;
    margin-bottom: 50px;
}

#productos ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

#productos li {
    width: 250px;
    margin: 20px;
    text-align: center;
    background-color: #FFC8DD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

#productos li:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

#productos li:before {
    content: "\f0f2";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 30px;
    color: #FFC8DD;
    margin-bottom: 10px;
    display: block;
}

#productos li:nth-child(2n):before {
    content: "\f579";
}

#productos li:nth-child(3n):before {
    content: "\f1fe";
}

#productos li:nth-child(4n):before {
    content: "\f0e7";
}

.img-card{
    border-radius: 10px;
}

/* Estilos para la sección de servicios */
#servicios {
    background-color: #FFC8DD;
    padding: 50px 0;
}

#servicios h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color: #333;
    animation: fadeInUp 1s ease;
    margin: auto;
}

#servicios p {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin-bottom: 50px;
    animation: fadeInUp 1.5s ease;
    margin: auto;
    margin-bottom: 1.4em;
}

#servicios ul {
    display: flex;
    justify-content: center;
}

#servicios li {
    margin: 0 20px;
    text-align: center;
    animation: fadeInUp 2s ease;
    margin: auto;
}

@media (max-width: 767px) {
    #servicios li {
        margin: 0 20px;
        text-align: center;
        animation: fadeInUp 2s ease;
        margin: auto;
        margin-left: 4em;
    }
}

.seguinos {
    text-align: center;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

footer p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

footer a {
    color: #f9d6c1;
    font-weight: bold;
    transition: all 0.3s ease;
}

footer a:hover {
    color: #fff;
}

/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

/* Estilos para el formulario */
.form-control {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F8F8F8;
    margin-bottom: 10px;
    font-size: 16px;
    color: #777;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 5px #7EC0EE;
    background-color: #fff;
    color: #333;
}

.btn-enviar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7EC0EE;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: #5CA8D9;
}

/* Estilos para la sección de redes sociales */
.redes-sociales {
    margin-top: 30px;
}

.redes-sociales h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.redes-sociales ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales li {
    margin-right: 20px;
    font-size: 24px;
    transition: transform 0.3s ease;
    margin: auto;
    padding-top: 20px;
}

.redes-sociales li a {
    color: #777;
    transition: color 0.3s ease;
}

.redes-sociales li a:hover {
    color: #7EC0EE;
}

.redes-sociales li:hover {
    transform: translateY(-5px);
}

.redes {
    justify-content: space-between;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #FF66A3;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#home h1 {
    font-size: 4rem;
    margin: 0;
    color: #FF66A3;
}

#home p {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

.logo {
    border-radius: 50%;
    margin: 10px;
}

@media (max-width: 767px) {
    .logo {
        width: 70%;
    }
}